body {
  margin: 0;
  background: #021425;
}

::selection {
  background: #107bb9;
  color: orangered;
}

.container {
  width: 550px;
  height: 550px;

  margin-top: 170px;

  margin-inline: auto;
  background: #1f2937;
  color: white;

  border: 5px solid white;
  border-radius: 15px;
  box-shadow: 5px 5px 20px black;
}

#title {
  margin: 115px 52px 0;

  width: 354px;
  height: 80px;

  font-family: "Karla";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 40px;

  /* or 100% */
  letter-spacing: -0.025em;
}

.color_green {
  color: #4adf86;
}

#message {
  margin: 10px 52px 0;
  width: 372px;
  height: 28px;

  /* text-xl/leading-7/font-normal */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;

  /* identical to box height, or 140% */

  /* Medium grey */
  color: #d5d4d8;
}

#pass_btn {
  margin: 50px 52px 0;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 9px 17px 9px 15px;
  gap: 12px;

  width: 191px;
  height: 42px;

  background: #10b981;
  border: none;

  font-family: "Inter";
  color: white;
  font-size: 1rem;

  /* shadow/sm */
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

#pass_btn:hover {
  background: rgb(255, 94, 0);
  transition: 0.1s ease-in-out;
}

#line {
  margin: 40px 52px 0;
  width: 446px;
  height: 0px;

  border: 1px solid #2f3e5388;
}

.flex_btn {
  margin: 30px 52px 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

#display_pass1,
#display_pass2 {
  width: 211px;
  height: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #273549;

  border: none;
  outline: none;
  border-radius: 6px;
  color: #5def92;

  font-size: 1rem;
  font-weight: 500;
}

.pass_sys {
  display: flex;
}

#lengthInput {
  cursor: pointer;
  margin: 63px 0px 0;

  width: 170px;
  height: 42px;
}

#button1,
#button2 {
  margin: 50px 52px 0;
  cursor: pointer;
  padding: 9px 17px 9px 15px;
  gap: 12px;

  width: 191px;
  height: 205x;

  background: #10b981;
  border: none;

  font-family: "Inter";
  color: white;
  font-size: 1rem;

  /* shadow/sm */
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

#button2 {
  margin-left: 240px;
}

#button1:hover,
#button2:hover {
  background: rgb(255, 94, 0);
  transition: 0.1s ease-in-out;
}

#display_pass1:hover,
#display_pass2:hover {
  background: #273549;
  color: transparent;
}

.copyMe:hover::before {
  position: absolute;
  color: rgb(255, 94, 0);
  content: "Copy me";
  font-family: "Inter";
  font-size: 1rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-style: italic;
  color: #d3ddec;
}

#passCount {
  color: #5def92;
  font-family: "Inter";
  transform: translate(50%, 77%);
}

#text_info {
  position: absolute;
  top: 48.2%;
  left: 51.5%;
  font-family: "Inter";
  font-size: 13px;
  color: #5def92;
}

.check_btn {
  display: flex;
  justify-content: space-between;
  margin: 0 52px;
  font-family: "Inter";
  color: #4adf86;

  font-style: italic;
  font-size: 13px;
}

/* @media all and (max-width: 480px) {
  body {
    width: 300px;
    margin: 0 auto;
  }

  .container {
    width: 300px;
  }

  #title {
    width: 100%;

    margin: 50px 0px 20px;
    font-size: 30px;
    text-align: center;
  }

  #message {
    text-align: center;
    width: 100%;
    font-size: 12px;

    margin-left: 5px;
  }

  #pass_btn {
    width: 100px;
    font-size: 12px;

    margin-top: 20px;
    margin-left: 100px;
  }

  #lengthInput {
    transform: translate(-110%, 100%);
  }

  #text_info {
    transform: translate(-560%, 80%);
  }

  #passCount {
    transform: translate(-560%, 80%);
  }

  #line {
    margin-top: 60px;
    width: 200px;
  }

  .flex_btn {
    display: flex;
    gap: 50px;
  }

  #display_pass1 {
    width: 150px;

    font-size: 12px;
  }
} */
