body {
  background: #021425;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

::selection {
  background: #107bb9;
  color: orangered;
}

.container {
  width: 550px;
  height: 550px;
  background: #1f2937;
  color: white;
  border: 5px solid white;
  border-radius: 15px;
  box-shadow: 5px 5px 20px black;
  margin-inline: 2em;
}

#title {
  margin: 115px 52px 0;
  width: 354px;
  height: 80px;
  font-family: "Karla";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.025em;
}

.color_green {
  color: #4adf86;
}

#message {
  margin: 10px 52px 0;
  width: 372px;
  height: 28px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  /* Medium grey */
  color: #d5d4d8;
}

.pass_sys {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.password-details {
  margin-top: 3em;
}

.password-length {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

#pass_btn {
  cursor: pointer;
  width: 191px;
  height: 42px;
  background: #10b981;
  border: none;
  font-family: "Inter";
  color: white;
  font-size: 1rem;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

#pass_btn:hover {
  background: rgb(255, 94, 0);
  transition: 0.1s ease-in-out;
}

#line {
  margin: 1.2em 52px 0;
  height: 0px;
  border: 1px solid #2f3e5388;
}

.flex_btn {
  margin: 1em 3.2em 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 2em;
}

#display_pass1,
#display_pass2 {
  width: 200px;
  height: 1.5em;
  background: #273549;
  border: none;
  outline: none;
  border-radius: 6px;
  color: rgb(255, 94, 0);
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
}

#lengthInput {
  cursor: pointer;
  width: 170px;
  height: 42px;
}

#button1,
#button2 {
  margin: 50px 52px 0;
  cursor: pointer;
  padding: 9px 17px 9px 15px;
  gap: 12px;
  width: 191px;
  height: 205x;
  background: #10b981;
  border: none;
  font-family: "Inter";
  color: white;
  font-size: 1rem;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

#button2 {
  margin-left: 240px;
}

#button1:hover,
#button2:hover {
  background: rgb(255, 94, 0);
  transition: 0.1s ease-in-out;
}

#display_pass1:hover,
#display_pass2:hover {
  background: #273549;
  color: transparent;
}

.copyMe:hover::before {
  content: "Copy";
  font-family: "Inter";
  text-transform: uppercase;
  font-style: italic;
  color: #d3ddec;
}

#passCount {
  color: #5def92;
  font-family: "Inter";
}

#text_info {
  font-family: "Inter";
  font-size: 13px;
  color: #5def92;
}

.check_btn {
  display: flex;
  justify-content: space-between;
  margin: 0 52px;
  font-family: "Inter";
  color: #4adf86;
  font-style: italic;
  font-size: 13px;
}

@media all and (max-width: 480px) {
  body {
    width: 300px;
    margin: 0 auto;
  }

  .pass_sys {
    margin-top: 1em;
    flex-direction: column;
    gap: 0;
  }

  .check_btn {
    justify-content: space-around;
    margin: 0;
  }

  .password-details {
    margin-top: 1.5em;
  }

  .container {
    width: 355px;
    margin-inline: 2em;
  }

  #title {
    width: 100%;
    margin: 50px 0px 20px;
    font-size: 30px;
    text-align: center;
  }

  #message {
    text-align: center;
    width: 100%;
    font-size: 14px;
    margin-left: 5px;
  }

  .flex_btn {
    gap: 0.5em;
    justify-content: center;
    margin-inline: 1em;
  }

  #display_pass1,
  #display_pass2 {
    font-size: 12px;
  }
}
